
@media(max-width:500px){
    .bsas-octubre
    {   
   display: flex;
   justify-content: center;
       flex-direction: column;
       align-items: center;
   
   }
   .bsas-octubre-text{
   width:100%;
   }
   
   .bsas-octubre img {
       width: 100;
   }
}