@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Pixelify';
  src: url('assets/fonts//PixelifySans-Regular.woff2') format('woff2');
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* remove TouchMobile */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Poppins, sans-serif;
}
:root {
  --blue-50: #e5f5fb;
  --blue-100: #d9f4ff;
  --blue-200: #d1f1ff;
  --blue-300: #bcebff;
  --blue-400: #b7e9fe;
  --blue-500: #b4e8fe;
  --blue-600: #b8eaff;
  --blue-700: #a5e3fd;
  --blue-800: #94ddfc;
  --blue-850: #65bade;
  --blue-900: #3899c3;
  --darkblue-400: #85c7f6;
  --darkblue-800: #003256;

  --primary-50: #fff8f9;
  --primary-100: #fec2cc;
  --primary-200: #fe9faf;
  --primary-300: #fe7c91;
  --primary-400: #fd5874;
  --primary-500: #fd3556;
  --primary-600: #fd1239;
  --primary-700: #e80229;
  --primary-800: #c50222;
  --primary-900: #a2021c;
  --primary-1000: #7e0116;

  --checkbox-width: 140px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  background-color: var(--primary-200);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-300);
  border: 3px solid var(--primary-200);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-500);
}
/* SELECTION */
::selection {
  color: white;
  background: var(--primary-300);
}

.button {
  @apply flex rounded-xl w-max h-9 cursor-pointer bg-[var(--blue-50)]  items-center justify-center px-3  shadow-slate-100 hover:bg-[var(--blue-200)];
}
.accent-button {
  @apply flex rounded-xl w-max h-9  cursor-pointer bg-[var(--blue-850)]  items-center justify-center px-3 hover:bg-[var(--blue-800)];
}

.pixel {
  font-family: pixelify;
}

.bottom-shadow {
  box-shadow: 0px 4em #999;
}

.animate-card {
  animation: card 1s forwards;
}

@keyframes card {
  100% {
    translate: 0px -100%;
  }
}

@keyframes animate-balance {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 5deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0deg;
  }
}
